<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;
charset=utf-8" />
<title>Welcome!</title>
</head>
<body>
<h1>Zello {{ name }}!</h1>



<hr>
fichier TWIG : "Zello/index.html.twig"
<br/>
{{  path('akmhello_zello' , { 'name': 'jacobs' })|upper }}


</body>
</html>